# --- Repository Branch Configuration ---
# Uncomment and set these variables in your .env file to override the default branches
# used by the setup-repos.sh script. If left commented or unset, the script defaults will be used.

BLOCK_BUILDER_BRANCH=main
EXECUTION_LAYER_BRANCH=main
KASWALLET_BRANCH=main
IGRA_RPC_PROVIDER_BRANCH=main
VIADUCT_BRANCH=main

# The following branches are only used if you run ./setup-repos.sh --dev
KASPAD_BRANCH=re-org_merged_kaspad_v1.0.0
KASPA_MINER_BRANCH=main

# HTTPS domain settings
IGRA_ORCHESTRA_DOMAIN=stage.igralabs.com
IGRA_ORCHESTRA_DOMAIN_EMAIL=igor@igralabs.com

# Should be devisible by 10
IGRA_LAUNCH_DAA_SCORE=194961700

# Minimum gas price
GAS_MIN_BASE_FEE_GWEI=2000

# testnet-10 crescendo timestamp (18:30 UTC, March 6, 2025) and DAA score:
CRESCENDO_TIMESTAMP=1741285800
CRESCENDO_DAA_SCORE=88657000

# --- Docker Configuration ---

# Logging driver for Docker containers.
# Defaults to 'syslog' which works well on Linux.
# On macOS, 'json-file' is recommended as 'syslog' might not be available or work correctly.
LOGGING_DRIVER=json-file

# General configuration
RUST_LOG=debug

# Kaspad configuration
KASPAD_HOST=kaspad
KASPAD_BORSH_PORT=17610
KASPAD_ADD_PEER=<ip-address> # optional argument

# Viaduct configuration
REPLAY_ON_ERROR=-1
SYNC_THREADS=64
MAGIC_SPK=20587b999b5b38f5c87ce04e4a2100998a05d303cc54c30ec77fa2c51dc5aa0a53ac
IGRA_LAUNCH_DAA_SCORE=26927000
DELAY_BLOCKS=0

# Mining configuration
MINING_ADDRESS=kaspadev:qqdk7fjp3dk6yln3d8epz6exafv65jecxkz9ujkhlvgkqwefwtdwsw3q78u7s
MINING_THREADS=1


# RPC Access Tokens (ensure that they are 32 hexadecimal characters)
RPC_ACCESS_TOKEN_1=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
RPC_ACCESS_TOKEN_2=bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
RPC_ACCESS_TOKEN_3=cccccccccccccccccccccccccccccccc
RPC_ACCESS_TOKEN_4=dddddddddddddddddddddddddddddddd
RPC_ACCESS_TOKEN_5=eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
RPC_ACCESS_TOKEN_6=ffffffffffffffffffffffffffffffff
RPC_ACCESS_TOKEN_7=00000000000000000000000000000000
RPC_ACCESS_TOKEN_8=11111111111111111111111111111111
RPC_ACCESS_TOKEN_9=22222222222222222222222222222222
RPC_ACCESS_TOKEN_10=3333333333333333333333333333333

# Worker 0 configuration
W0_WALLET_TO_ADDRESS=kaspadev:qpm06zv507sh59hjevsmkkgj9kv0q7a02wtnxt6l9qcvjk7dqtysy9kg4u3um
W0_KASWALLET_PASSWORD=


# Worker 1 configuration
W1_WALLET_TO_ADDRESS=kaspadev:qpm06zv507sh59hjevsmkkgj9kv0q7a02wtnxt6l9qcvjk7dqtysy9kg4u3um
W1_KASWALLET_PASSWORD=

# Worker 2 configuration
W2_WALLET_TO_ADDRESS=kaspadev:qpm06zv507sh59hjevsmkkgj9kv0q7a02wtnxt6l9qcvjk7dqtysy9kg4u3um
W2_KASWALLET_PASSWORD=


# Worker 3 configuration
W3_WALLET_TO_ADDRESS=kaspadev:qpm06zv507sh59hjevsmkkgj9kv0q7a02wtnxt6l9qcvjk7dqtysy9kg4u3um
W3_KASWALLET_PASSWORD=


# Worker 4 configuration
W4_WALLET_DAEMON_URI=
W4_WALLET_TO_ADDRESS=kaspadev:qpm06zv507sh59hjevsmkkgj9kv0q7a02wtnxt6l9qcvjk7dqtysy9kg4u3um
W4_KASWALLET_PASSWORD=